*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
      font-family: "Nunito", sans-serif;
       font-optical-sizing: auto;
       font-style: normal;
        font-weight: 200;
}

.container{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
}
form{
    /* width: 300px; */
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}
.submit{
    
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    
}
#submit{
    width: 300px;
}









